.scale-down {
  transform: scale(0);
}
.hidden {
  display: none !important;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
@-webkit-keyframes grow {
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes grow {
  100% {
    transform: scale(1);
  }
}