@import "partials/reset";

body {
  background-color: #222f3e;
}
.container {
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
  border: 1px #ebebeb solid;
  padding: 1.75rem;
  border-radius: 10px;
  /*background: #fff;*/
  /*box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;*/
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &[type="text"] {
    padding: .5rem;
    border: 2px solid #ebebeb;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(255,255,255,0.15);
    font-weight: bold;
    color: #4d4d4d;

    &:focus {
      outline: #00d2d3;
      border-color: #00d2d3;
    }
  }
  &:checked {
    &+ .slider {
      background-color: rgba(0,210,211,1);

      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
  &:focus {
    &+ .slider {
      box-shadow: 0 0 1px rgba(0,210,211,1);
    }
  }
}

button {
  background-color: rgba(0,210,211,1);
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    background-color: rgba(0,210,211,.75);
  }
}

#feedback {
  font-size: 1rem;
  text-align: right;
  margin-top: 1rem;

  &.success {
    color: #00d2d3;
  }
  &.error {
    color: #b63943;
  }
}