@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');

body {
  background: rgb(155,89,182);
  background: linear-gradient(49deg, rgba(195,34,34,1) 0%, rgba(253,45,192,1) 100%);
  font-family: "Poppins", sans-serif;
}