@import "partials/reset";

body {
  background: #fff;
  min-width: 250px;
  padding: 5px
}
p {
  padding: 5px;
  color: #222f3e;
  font-weight: 600;
  font-size: .9rem;
}
button {
  &#settings-page {
    background: #00d2d3;
    color: #4d4d4d;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    transition: all .4s ease;
    border: 1px solid #00d2d3;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background: #4d4d4d;
      border-color: #4d4d4d;
    }
  }
}