@import "partials/reset";
@import "partials/global";

body {
  background-color: #222f3e;
}
.container {
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
  border: 1px #ebebeb solid;
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &[type="text"] {
    padding: .5rem;
    border: 2px solid #ebebeb;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(255,255,255,0.15);
    font-weight: bold;
    color: #4d4d4d;

    &:focus {
      outline: #00d2d3;
      border-color: #00d2d3;
    }
  }
  &:checked {
    &+ .slider {
      background-color: rgba(0,210,211,1);

      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
  &:focus {
    &+ .slider {
      box-shadow: 0 0 1px rgba(0,210,211,1);
    }
  }
}

button {
  background-color: rgba(0,210,211,1);
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s ease;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0,210,211,.75);
  }
}

#feedback {
  font-size: 1rem;
  text-align: right;

  &.success {
    color: #00d2d3;
    margin-top: .75rem;
  }
  &.error {
    color: #b63943;
    margin-top: .75rem;
  }
}
#theme-picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  &> div {
    width: 100%;
    height: 100px;
    cursor: pointer;
    background-color: #00d2d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    transition: all .4s ease;
    border: 3px solid #000;

    &.current {
      border-color: #fff;
      transform: scale(1.1);
    }
    &:nth-of-type(1) {
      background: linear-gradient(45deg, rgba(155,89,182,1) 0%, rgba(26,188,156,1) 100%);
    }
    &:nth-of-type(2) {
      background: linear-gradient(321deg, rgba(67,122,159,1) 0%, rgba(0,61,255,1) 100%);
    }
    &:nth-of-type(3) {
      background: linear-gradient(49deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
    &:nth-of-type(4) {
      background: linear-gradient(49deg, rgba(195,34,34,1) 0%, rgba(253,45,192,1) 100%);
    }
    &:hover {
      box-shadow: 0 0 10px rgba(255,255,255,.75);
    }
  }
}